<div class="col-md-3">
    <ul class="transform-list">
        @{
            dynamic definition = ViewBag.TransformDefinition;

            foreach (var transform in definition.Transforms)
            {
                <li>
                    <div class="transform-tokentype">
                        @Shared.GetTransformDisplayName(transform)
                    </div>

                    <p class="transform-name">@transform.Name</p>
                    <p class="transform-description">@transform.Description</p>
                    <p class="transform-class">@transform.ClassName</p>
                    <p class="transform-pattern">@transform.Pattern</p>
                </li>
            }
        }
    </ul>
</div>

<div class="col-md-9">
    <pre data-transformpath="@ViewBag.TransformPath">@ViewBag.HighlightOutput</pre>
</div>

@section Scripts
{
<script type="text/javascript" src="~/Scripts/token-tips.js"></script>
}